body{
    background: rgba(123,28,125,1);
    background: -moz-linear-gradient(left, rgba(123,28,125,1) 0%, rgba(46,27,111,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,28,125,1)), color-stop(100%, rgba(46,27,111,1)));
    background: -webkit-linear-gradient(left, rgba(123,28,125,1) 0%, rgba(46,27,111,1) 100%);
    background: -o-linear-gradient(left, rgba(123,28,125,1) 0%, rgba(46,27,111,1) 100%);
    background: -ms-linear-gradient(left, rgba(123,28,125,1) 0%, rgba(46,27,111,1) 100%);
    background: linear-gradient(to right, rgba(123,28,125,1) 0%, rgba(46,27,111,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b1c7d', endColorstr='#2e1b6f', GradientType=1 );

    padding: 1em;
}

.pictureOfDay{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.card{
    max-width: 400px;
    margin: auto;
}

.card img {
    height: 400px;
}